= form_for :card, url: deck_cards_path(@deck,@card) do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@card.errors.count, "error")} prohibited this deck from being saved:"
      %ul
        - @card.errors.full_messages.each do |msg|
          %li= "Message: " + msg
          %li= @card.deck_id

  .field
    = f.label :prompt
    = f.text_field :prompt
  .field
    = f.label :answer
    = f.text_field :answer

  .actions
    -#This button should be able to add new cards and edit existing cards.
    = f.submit 'Save', class: "btn btn-secondary"