= form_for :card, url: deck_cards_path(@deck.id) do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deck.errors.count, "error")} prohibited this deck from being saved:"
      %ul
        - @card.errors.full_messages.each do |msg|
          %li= "Message: " + msg
  .field
    = f.label :prompt, "Front"
    = f.text_field :prompt, placeholder: "Term" 
  .field
    = f.label :answer, "Back"
    = f.text_field :answer, placeholder: "Definition"

  .actions
    -#This button should be able to add new cards and edit existing cards.
    
    = link_to '', deck_path(@deck), class: "btn btn-warning glyphicon glyphicon-arrow-left"
    = f.button :button, class: 'btn btn-success' do 
      %span.glyphicon.glyphicon-ok
