%p#notice= notice

%p
  %b Front:
  = @card.prompt
%p
  %b Back:
  = @card.answer
%p
  = link_to 'Edit Card', edit_deck_card_path(@card.deck_id,@card)
  \|
  = link_to 'Back', deck_path(@deck.id)