%p#notice= notice

%p
  %b Front:
  = @card.prompt
%p
  %b Back:
  = @card.answer
%p
  = link_to '', deck_path(@deck.id), class: "btn btn-warning glyphicon glyphicon-arrow-left"
  \|
  = link_to '', edit_deck_card_path(@card.deck_id,@card), class: "btn btn-info glyphicon glyphicon-pencil"
