%p#notice= notice

%p
  %b Title:
  = @deck.title
%p
  %b Description:
  = @deck.description

%h1="Cards"

%div
  -cards = @deck.cards
  -if cards.size == 0
    %em="No Cards Found"
  -else 
  -cards.each do |card|
    .box.panel.panel-default.show-card-box
      %p
        %h3= card.prompt
        .card.deck-button
          = link_to 'Edit', edit_deck_card_path(@deck, card)
  %p
    = link_to 'Add Card', new_deck_card_path(deck_id: @deck.id)
    = link_to 'Edit Deck', edit_deck_path(@deck)
    \|
    = link_to 'Back', decks_path
