!!! 5
%html
  %head
    %title TrainingProject
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", 'data-turbolink-track' => true

  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-brand= link_to "FlashCards", root_path
        
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "Hello, User", root_path, class: "hello_user"
          %li= link_to "New Deck", new_deck_path 
    
    .container
      -flash.each do |name, msg|
        =content_tag :div, msg, class: "alert alert-info"
      = yield